.sidebar{
    width: 17%;
    height: 100vh;
    border-right: 0.5px solid gray;
    position: fixed;
}
.logo{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yx/r/WtxJZZ3-9ZP.png);
    background-position: 0px 0px;
    background-size: 100px 110px;
    width: 174px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px 0;
}
.container{
    width: 80%;
    height: 100%;
    gap: 2%;
}
.sidebar-item{
    width: 100%;
    text-align: left;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-radius: 5px;
}
.sidebar-item:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}
.item-logo{
    height: 24px;
    width: 24px;
}
.logout{
    cursor: pointer;
}
 