.create-modal {
    width: 530px;
    height: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    border: 0;
}
  
.create-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
}
.up{
    width: 100%;
    height: 8%;
    border-bottom: 1px solid gray;
    font-weight: 500;
}
.down{
    width: 100%;
    height: 92%;
    gap: 5%;
}
.img{
    height: 77px;
    width: 96px;
}
.drag{
    font-weight: 400 ;
    font-size: 1.5rem;
}
.select-button{
    height: 35px;
    width: 150px;
    border-radius: 4px;
    border: 0;
    background-color: rgb(0, 149, 246);
    color: white;
}