.login-container{
    border: 0.01rem solid gray;
    width: 23%;
    height: 40vh;
    margin: 5% auto 0 auto;
    align-items: center;
  }
  .signup-link-container{
    border: 0.01rem solid gray;
    width: 23%;
    height: 10vh;
    margin: 7px auto;
    gap: 2px;
  }
  .title{
    margin: 5% 0;
  }
  .inputs{
    margin: 5% 0;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
  }
  .text{
    width: 80%;
    height: 55%;
    justify-content: space-around;
  }
  .text input{
    height: 40%;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 0 2%;
  }
  .button{
    width: 100%;
    height: 20%;
  }
  .button button{
    width: 80%;
    height: 100%;
    border-radius: 5px;
    border: 0;
    background-color: rgb(0, 149, 246);
    color: white;
  }
  .logo{
    background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yx/r/WtxJZZ3-9ZP.png);
    background-position: 0px 0px;
    background-size: 176px 186px;
    width: 174px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 10px 0;
  }
  
.signup-link{
    text-decoration: none;
    color: rgb(0, 149, 246);
}
